body {
  width: 50%;
  margin: 100px auto;
}
.card-body {
  background-color: #fff;
}
input {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  border: 2px solid #dee2e6;
  border-radius: 4px;
  box-shadow: 2px 2px 4px #dee2e6;
}
#date {
  font-size: 14px;
  font-weight: bold;
}
img {
  position: relative;
  right: 0;
}
i {
  font-size: 36px;
  color: #2f796b;
}
ul {
  margin: 0;
  padding: 0px;
  list-style: none;
}

p {
  font-size: 18px;
  font-weight: 600;
  padding: 10px;
  margin: 0;
}
a {
  text-decoration: none;
}
form {
  padding-bottom: 10px;
}
#image {
  position: relative;
  top: 30px;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.city {
  margin: 0;
  font-size: 50px;
  line-height: 1;
  font-weight: bold;
  color: #2f796b;
  font-family: "Itim", cursive;
}
.city-temp {
  font-size: 50px;
  font-weight: bold;
  font-family: "Itim", cursive;
}

.submit-city {
  padding: 6px 15px;
  color: whitesmoke;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 2px 2px 4px #2c5e7485;
  transition: 200ms ease-in-out;
}
.submit-city {
  background-color: #2f796b;
}
.submit-city:hover {
  background-color: #224d5a;
}
#current-location:hover {
  color: #fff;
  background-color: #224d5a;
}
#current-location {
  padding: 6px 15px;
  color: #224d5a;
  background-color: transparent;
  border: 1px solid #2c5f74;
  box-shadow: 2px 2px 4px #2c5e7485;
  transition: 200ms ease-in-out;
  width: 100%;
}

#weather-description {
  text-transform: capitalize;
  font-size: 18px;
  font-weight: bold;
}
.card-body {
  padding: 30px;
}

.units {
  position: relative;
  top: -20px;
  font-weight: bold;
  font-family: "Itim", cursive;
}
.weekly-card {
  margin: 3px;
  border: 1px solid #dee2e6;
  border-radius: 4px;
  text-align: center;
  background-color: white;
  transition: all 0.18s ease;
}
.weekly-card:hover {
  box-shadow: 2px 2px 4px #2c5e7485;
}

.weather-details {
  display: block;
  font-size: 18px;
  font-weight: 500;
}
.more-weather {
  margin-top: 15px;
  margin-bottom: 15px;
}
.temp {
  display: block;
  font-size: 22px;
  padding: 10px;
}
.button-group {
  margin-top: 20px;
}
.bottom-text-decoration {
  position: fixed;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 10px;
  text-align: center;
}
.bottom-link {
  color: aquamarine;
}
.bottom-link:hover {
  text-decoration: underline;
  color: rgb(0, 255, 170);
}
.weekly-temp {
  margin: 10px 0;
}
